
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@model SportsNewsProject.Models.VM.UserVM

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Edit User</h4>
                <p class="card-category">Edit a user profile</p>
            </div>
            <div class="card-body">
                <form action="/User/Edit/" method="post">

                    @await Html.PartialAsync("Partial/UserForm")
                    @Html.HiddenFor(q => q.ID)

                    <button type="submit" class="btn btn-primary pull-right">Edit Profile</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

