
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@model SportsNewsProject.Models.VM.AuthorVM

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Add Author</h4>
                <p class="card-category">Create a author</p>
            </div>
            <div class="card-body">
                <form action="/Author/Add" method="post">

                    @await Html.PartialAsync("Partial/AuthorForm")

                    <button type="submit" class="btn btn-primary pull-right">Add Author</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

