@model SportsNewsProject.Models.VM.LoginVM

    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="/adminsite/assets/login/css/login.css">
        <link rel="stylesheet" href="/adminsite/assets/login/css/reset.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
    </head>

    <body>
        <div class="login-dark">
            <form method="post" action="/Admin/Login/Index">
                <h2 class="sr-only">Login Form</h2>
                <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
                @Html.ValidationSummary()<br>
                <p style="color:red">@ViewBag.error</p><br>
                <div class="form-group">
                    @Html.TextBoxFor(q => q.EMail, new { @class = "form-control", @type = "email", @name = "email", @placeholder = "Email" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(q => q.Password, new { @class = "form-control", @type = "password", @name = "password", @placeholder = "Password" })
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Log In</button>
                </div>
            </form>
        </div>

    </body>

</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>



