
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@model SportsNewsProject.Models.VM.CategoryVM

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Add Category</h4>
                <p class="card-category">Create a category</p>
            </div>
            <div class="card-body">
                <form action="/Category/Add" method="post">

                    @await Html.PartialAsync("Partial/CategoryForm")

                    <button type="submit" class="btn btn-primary pull-right">Add Category</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>



