
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@model SportsNewsProject.Models.VM.NewsVM


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Add Article</h4>
                <p class="card-category">Create an article</p>
            </div>
            <div class="card-body">
                <form action="/News/Add" method="post" enctype="multipart/form-data">

                    @await Html.PartialAsync("Partial/NewsForm")

                    <button type="submit" class="btn btn-primary pull-right ">Publish</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>


